n8n_backups/n8n_workflow_2_confirmar_v2.json
{
  "name": "Flujo 2 - Confirmar Asistencia desde Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "confirmar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Confirmar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "confirmar-asistencia-futbol7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wmcycxnydunfjnirmjuy.supabase.co/rest/v1/attendance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtY3ljeG55ZHVuZmpuaXJtanV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NTA1MDcsImV4cCI6MjA4OTQyNjUwN30.qDOTIX0lAKg4C3Cw_Tm1l3ttS-mY4s5bnckgvh1RTgM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtY3ljeG55ZHVuZmpuaXJtanV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NTA1MDcsImV4cCI6MjA4OTQyNjUwN30.qDOTIX0lAKg4C3Cw_Tm1l3ttS-mY4s5bnckgvh1RTgM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "match_id",
              "value": "={{ $json.query.match_id }}"
            },
            {
              "name": "player_id",
              "value": "={{ $json.query.player_id }}"
            },
            {
              "name": "status",
              "value": "={{ $json.query.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "HTTP - Guardar Asistencia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html lang='es'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><title>Asistencia Confirmada</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;background:#0f172a;color:white;display:flex;justify-content:center;align-items:center;min-height:100vh}.card{background:#1e293b;border:1px solid #334155;border-radius:20px;padding:48px 40px;text-align:center;max-width:420px;width:90%;box-shadow:0 25px 50px rgba(0,0,0,0.5)}.icon{font-size:72px;margin-bottom:20px;display:block}.title{font-size:26px;font-weight:700;margin-bottom:12px;color:#f1f5f9}.msg{color:#94a3b8;font-size:15px;line-height:1.6}.close{margin-top:24px;color:#64748b;font-size:13px}</style></head><body><div class='card'><span class='icon'>✅</span><h1 class='title'>¡Asistencia registrada!</h1><p class='msg'>Tu respuesta fue guardada correctamente.<br>El equipo ya puede ver tu confirmación.</p><p class='close'>Puedes cerrar esta ventana.</p></div></body></html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Responder al Usuario",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Confirmar": {
      "main": [
        [
          {
            "node": "HTTP - Guardar Asistencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Guardar Asistencia": {
      "main": [
        [
          {
            "node": "Responder al Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "futbol7-confirmar-asistencia"
  }
}
