n8n_backups/n8n_workflow_1_invitaciones.json
{
  "name": "⚽ Partido Nuevo - Enviar Invitaciones",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "partido-nuevo",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "partido-nuevo"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.players",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Split Jugadores",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=⚽ Partido {{ $('Webhook').item.json.body.match.match_type }} - ¡Confirma tu asistencia!",
        "emailType": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto;background:#0f172a;color:white;padding:32px;border-radius:16px\">\n  <h1 style=\"color:#10b981;margin-bottom:4px\">⚽ ¡Hay partido!</h1>\n  <p style=\"font-size:18px;margin-top:8px\">Hola <b>{{ $json.name }}</b>, se programó un nuevo partido.</p>\n  <div style=\"background:#1e293b;border-radius:12px;padding:20px;margin:24px 0;border:1px solid #334155\">\n    <p style=\"margin:8px 0\">📅 <b>Fecha:</b> {{ new Date($('Webhook').item.json.body.match.date).toLocaleString('es-CL', {timeZone: 'America/Santiago'}).replace(',', '') }}</p>\n    <p style=\"margin:8px 0\">📍 <b>Lugar:</b> {{ $('Webhook').item.json.body.match.location }}</p>\n    <p style=\"margin:8px 0\">⚽ <b>Formato:</b> {{ $('Webhook').item.json.body.match.match_type }}</p>\n  </div>\n  <p style=\"font-size:16px;margin-bottom:16px\">¿Vas a jugar?</p>\n  <div>\n    <a href=\"https://n8n.soygad.com/webhook/confirmar?player_id={{ $json.id }}&match_id={{ $('Webhook').item.json.body.match.id }}&status=Voy\"\n       style=\"background:#10b981;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;display:inline-block;margin:6px 4px;font-weight:bold;font-size:15px\">\n      ✅ Confirmo\n    </a>\n    <a href=\"https://n8n.soygad.com/webhook/confirmar?player_id={{ $json.id }}&match_id={{ $('Webhook').item.json.body.match.id }}&status=No voy\"\n       style=\"background:#ef4444;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;display:inline-block;margin:6px 4px;font-weight:bold;font-size:15px\">\n      ❌ No Puedo\n    </a>\n  </div>\n  <p style=\"margin-top:32px;font-size:12px;color:#64748b\">Este correo fue enviado automáticamente por el sistema de gestión del equipo.</p>\n</div>",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [680, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Jugadores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Jugadores": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
