n8n_backups/n8n_workflow_invitacion_partido_voy_novoy.json
{
  "name": "⚽ Invitación al Partido (Voy/No Voy)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invitacion-partido",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-invitacion",
      "name": "Webhook Invitación",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "invitacion-partido"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.player.email }}",
        "subject": "=⚽ {{ $json.body.match ? $json.body.match.date : 'Próximo Partido' }}: ¡Confirma tu asistencia!",
        "emailType": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto;background:#0a0e14;color:white;padding:40px 20px;border-radius:24px;border:1px solid rgba(255,255,255,0.05)\">\n  <div style=\"text-align:center;margin-bottom:32px\">\n    <h1 style=\"color:#44f3a9;margin:0;font-size:24px;font-weight:800\">⚽ HAY PARTIDO</h1>\n    <p style=\"color:rgba(255,255,255,0.5);margin:8px 0 0;font-size:14px\">{{ $json.body.team_name || 'Tu equipo' }}</p>\n  </div>\n  <p style=\"font-size:17px;margin:0 0 24px\">Hola <b style=\"color:#44f3a9\">{{ $json.body.player.name }}</b>,</p>\n  <p style=\"color:rgba(255,255,255,0.7);font-size:15px;line-height:1.6;margin:0 0 24px\">Se ha programado un partido. Confirma si vas a jugar para que el admin pueda armar los equipos.</p>\n  <div style=\"background:#1c2026;border-radius:16px;padding:20px;margin:0 0 28px;border:1px solid rgba(68,243,169,0.15)\">\n    <p style=\"margin:10px 0;font-size:15px\">📅 <b>Fecha:</b> {{ $json.body.match ? $json.body.match.date : 'Por confirmar' }}</p>\n    <p style=\"margin:10px 0;font-size:15px\">📍 <b>Lugar:</b> {{ $json.body.match ? $json.body.match.location : 'Por confirmar' }}</p>\n  </div>\n  <p style=\"font-size:16px;margin:0 0 20px;font-weight:600\">¿Vas a jugar?</p>\n  <div style=\"text-align:center;margin:0 0 32px\">\n    <a href=\"{{ $json.body.actions ? $json.body.actions.confirm_url : '#' }}\"\n       style=\"background:linear-gradient(135deg,#44f3a9,#00d68f);color:#003822;padding:14px 32px;text-decoration:none;border-radius:12px;display:inline-block;margin:6px 8px;font-weight:800;font-size:15px\">\n      ✅ Voy\n    </a>\n    <a href=\"{{ $json.body.actions ? $json.body.actions.decline_url : '#' }}\"\n       style=\"background:#262a31;color:rgba(255,255,255,0.7);padding:14px 32px;text-decoration:none;border-radius:12px;display:inline-block;margin:6px 8px;font-weight:700;font-size:15px;border:1px solid rgba(255,255,255,0.1)\">\n      ❌ No Puedo\n    </a>\n  </div>\n  <p style=\"margin:0;font-size:12px;color:rgba(255,255,255,0.25);text-align:center\">Este correo fue enviado automáticamente por el sistema de gestión del equipo.</p>\n</div>",
        "options": {}
      },
      "id": "gmail-invitacion",
      "name": "Enviar Email Invitación",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [500, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook Invitación": {
      "main": [
        [
          {
            "node": "Enviar Email Invitación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email Invitación": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
