n8n_backups/n8n_workflow_mvp_voting.json
{
  "name": "MVP Voting Post-Match (v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "match-finished-mvp",
        "options": {}
      },
      "id": "18c2278e-6c84-486a-8b83-a9dcb8ecae63",
      "name": "Webhook MVP Match Finished",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "id": "f51b9e2c-7d34-4a5f-8e12-b9dcb8ecae64",
      "name": "Wait 30 Minutes Post-Match",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook MVP Match Finished\"].json[\"body\"][\"players\"]}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-4a5b-9c8d-e7f8g9h0i1j2",
      "name": "Has Players?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "players",
        "options": {}
      },
      "id": "7890abcd-1234-4567-890a-bcdef0123456",
      "name": "Split Players",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"name\"] || \"\"}}",
              "operation": "notContains",
              "value2": "(I)"
            },
            {
              "value1": "={{$json[\"email\"]}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "abcd1234-efgh-5678-ijkl-901234567890",
      "name": "Filter Real Players (No Guests)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "tu-email@gmail.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "⚽ ¡Elige al MVP del partido!",
        "html": "<div style=\"font-family: sans-serif; max-width: 480px; margin: 0 auto; background: #0a0e14; color: #fff; padding: 32px; border-radius: 16px;\">\n  <h2 style=\"color: #44f3a9; margin-bottom: 8px;\">⚽ Mejor Jugador</h2>\n  <p style=\"color: rgba(255,255,255,0.6); line-height: 1.6;\">\n    ¡Buen partido equipo! Es hora de elegir al Mejor Jugador (**MVP**) del encuentro del día {{$node[\"Webhook MVP Match Finished\"].json[\"body\"][\"match\"][\"date\"] || \"hoy\"}}.\n  </p>\n  <a href=\"https://gestion-futbol-7.vercel.app/vote?match_id={{$node[\"Webhook MVP Match Finished\"].json[\"body\"][\"match\"][\"id\"]}}\" \n     style=\"display: inline-block; margin: 24px 0; padding: 14px 28px; background: #44f3a9; color: #003822; font-weight: 700; border-radius: 10px; text-decoration: none;\">\n    VOTAR AQUÍ\n  </a>\n  <p style=\"font-size: 12px; color: rgba(255,255,255,0.3);\">\n    Nota: Solo tienes 48 horas para votar. ¡Haz que tu voto cuente!\n  </p>\n</div>",
        "options": {}
      },
      "id": "99887766-5544-3322-1100-aabbccddeeff",
      "name": "Send MVP Voting Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1250,
        280
      ]
    }
  ],
  "connections": {
    "Webhook MVP Match Finished": {
      "main": [
        [
          {
            "node": "Wait 30 Minutes Post-Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Minutes Post-Match": {
      "main": [
        [
          {
            "node": "Has Players?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Players?": {
      "main": [
        [
          {
            "node": "Split Players",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Players": {
      "main": [
        [
          {
            "node": "Filter Real Players (No Guests)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Real Players (No Guests)": {
      "main": [
        [
          {
            "node": "Send MVP Voting Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f789",
  "id": "new-mvp-voting-v2"
}
