n8n_backups/n8n_workflow_completo_invitaciones_y_confirmacion.json
{
  "name": "⚽ Invitaciones y Confirmación de Asistencia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "partido-nuevo",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "partido-nuevo"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.players",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Split Jugadores",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=⚽ Partido {{ $('Webhook').item.json.body.match.match_type }} - ¡Confirma tu asistencia!",
        "emailType": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto;background:#0f172a;color:white;padding:32px;border-radius:16px\">\n  <h1 style=\"color:#10b981;margin-bottom:4px\">⚽ ¡Hay partido!</h1>\n  <p style=\"font-size:18px;margin-top:8px\">Hola <b>{{ $json.name }}</b>, se programó un nuevo partido.</p>\n  <div style=\"background:#1e293b;border-radius:12px;padding:20px;margin:24px 0;border:1px solid #334155\">\n    <p style=\"margin:8px 0\">📅 <b>Fecha:</b> {{ new Date($('Webhook').item.json.body.match.date).toLocaleString('es-CL', {timeZone: 'America/Santiago'}).replace(',', '') }}</p>\n    <p style=\"margin:8px 0\">📍 <b>Lugar:</b> {{ $('Webhook').item.json.body.match.location }}</p>\n    <p style=\"margin:8px 0\">⚽ <b>Formato:</b> {{ $('Webhook').item.json.body.match.match_type }}</p>\n  </div>\n  <p style=\"font-size:16px;margin-bottom:16px\">¿Vas a jugar?</p>\n  <div>\n    <a href=\"https://n8n.soygad.com/webhook/confirmar?player_id={{ $json.id }}&match_id={{ $('Webhook').item.json.body.match.id }}&status=Voy\"\n       style=\"background:#10b981;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;display:inline-block;margin:6px 4px;font-weight:bold;font-size:15px\">\n      ✅ Confirmo\n    </a>\n    <a href=\"https://n8n.soygad.com/webhook/confirmar?player_id={{ $json.id }}&match_id={{ $('Webhook').item.json.body.match.id }}&status=No voy\"\n       style=\"background:#ef4444;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;display:inline-block;margin:6px 4px;font-weight:bold;font-size:15px\">\n      ❌ No Puedo\n    </a>\n  </div>\n  <p style=\"margin-top:32px;font-size:12px;color:#64748b\">Este correo fue enviado automáticamente por el sistema de gestión del equipo.</p>\n</div>",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [680, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "confirmar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Confirmar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "confirmar-asistencia-futbol7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wmcycxnydunfjnirmjuy.supabase.co/rest/v1/attendance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtY3ljeG55ZHVuZmpuaXJtanV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NTA1MDcsImV4cCI6MjA4OTQyNjUwN30.qDOTIX0lAKg4C3Cw_Tm1l3ttS-mY4s5bnckgvh1RTgM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtY3ljeG55ZHVuZmpuaXJtanV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NTA1MDcsImV4cCI6MjA4OTQyNjUwN30.qDOTIX0lAKg4C3Cw_Tm1l3ttS-mY4s5bnckgvh1RTgM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "match_id",
              "value": "={{ $json.query.match_id }}"
            },
            {
              "name": "player_id",
              "value": "={{ $json.query.player_id }}"
            },
            {
              "name": "status",
              "value": "={{ $json.query.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "HTTP - Guardar Asistencia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html lang='es'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'><title>Asistencia Confirmada</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;background:#0f172a;color:white;display:flex;justify-content:center;align-items:center;min-height:100vh}.card{background:#1e293b;border:1px solid #334155;border-radius:20px;padding:48px 40px;text-align:center;max-width:420px;width:90%;box-shadow:0 25px 50px rgba(0,0,0,0.5)}.icon{font-size:72px;margin-bottom:20px;display:block}.title{font-size:26px;font-weight:700;margin-bottom:12px;color:#f1f5f9}.msg{color:#94a3b8;font-size:15px;line-height:1.6}.close{margin-top:24px;color:#64748b;font-size:13px}</style></head><body><div class='card'><span class='icon'>✅</span><h1 class='title'>¡Asistencia registrada!</h1><p class='msg'>Tu respuesta fue guardada correctamente.<br>El equipo ya puede ver tu confirmación.</p><p class='close'>Puedes cerrar esta ventana.</p></div></body></html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Responder al Usuario",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Jugadores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Jugadores": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Confirmar": {
      "main": [
        [
          {
            "node": "HTTP - Guardar Asistencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Guardar Asistencia": {
      "main": [
        [
          {
            "node": "Responder al Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
